@charset "utf-8";

/* 블로그 & 뉴스 */
#blogpage {
    padding: 100px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blogpage .wrap {
    display: flex;
    flex-direction: column;
}

#blogpage h1 {
    margin-bottom: 30px;
}

/* 블로그 리스트 페이지 */
/* 블로그 리스트 */
#blogpage .blogList {
    display: flex;
}

#blogpage .blogList li {
    display: flex;
}

#blogpage .blogList li a {
    color: var(--blackC);
    display: block;
}

#blogpage .blogList span {
    color: var(--grayMiddle);
    font-size: 18px;
}

#blogpage .blogList p {
    font-size: 23px;
}

#blogpage .blogListImg {
    height: 200px;
    overflow: hidden;
}

#blogpage .blogListImg img {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#blogpage .moreList {
    margin-bottom: 100px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: var(--whitePerfect);
    background-color: var(--orangeF);
    justify-content: flex-end;
    text-align: center;
    transition: 0.5s;
}

#blogpage .moreList:hover {
    background-color: var(--purpleF);
}

/* 온라인 사기 경고 */
#blogpage .fraudWarning {
    background-image: url("../image/fedex_hub3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 100px;
}

#blogpage .fraudWarning>div {
    background: rgba(255, 255, 255, 0.7);
    padding: 25px 25px 0;
    display: flex;
    flex-direction: row;
}

#blogpage .fraudWarning h1 {
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    margin-left: 20px;
    margin-bottom: 0;
    color: var(--orangeF);
}

#blogpage .fraudWarning h2 {
    display: flex;
    justify-content: space-between;
}

#blogpage .fraudWarning h2>span:last-child {
    transition: 0.5s;
}

#blogpage .fraudWarning img {
    width: 100px;
    height: 100px;
}

#blogpage .fraudWarning ul {
    background: rgba(255, 255, 255, 0.7);
    padding: 25px;
}

#blogpage .fraudWarning p {
    padding-bottom: 30px;
    display: none;
}

/* 뉴스 구독 */
#blogpage .subscribeNews {
    display: flex;
    justify-content: space-between;
}

#blogpage .subscribeNews li {
    display: flex;
    justify-content: space-between;
}

#blogpage .subscribeNews li p:first-of-type{
    font-size: 23px;
}

#blogpage .subscribeNews li>div:first-child {
    overflow: hidden;
}

#blogpage .subscribeNews li>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

#blogpage .subscribeNews li img {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

/* 블로그 기사 페이지 */
#blogpage .blogArticle {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#blogpage .blogArticle img {
    position: relative;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#blogpage article h3 {
    margin: 20px 0 5px;
}

/* 이전, 다음 기사 */
#blogpage .articleBeside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

#blogpage .articleBeside li {
    display: flex;
}

#blogpage .articleBeside .blogImg {
    overflow: hidden;
}

#blogpage .articleBeside img {
    display: block;
}

#blogpage .articleBeside a {
    color: var(--blackC)
}

#blogpage .moveBlogList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}

#blogpage .moveBlogList li {
    width: 130px;
}

/* 뉴스 구독 버튼 + 다른 기사 보기 버튼 */
#blogpage .subscribeNews li a, 
#blogpage .moveBlogList a {
    background-color: var(--orangeF);
    color: var(--whitePerfect);
    width: 130px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    transition: 0.5s;
}

#blogpage .subscribeNews li a:hover, 
#blogpage .moveBlogList a:hover {
    background-color: var(--purpleF);
}

/* 너비 760px 미만 */
@media all and (max-width: 760px) {
    #blogpage .blogList {
        flex-direction: column;
    }

    #blogpage .blogList li {
        margin-bottom: 50px;
        flex-direction: column;
    }

    #blogpage .blogListImg img {
        width: 100%;
        height: auto;
    }

    #blogpage .blogList a {
        margin-top: 10px;
        width: 100%;
    }

    #blogpage .subscribeNews {
        flex-direction: column;
    }

    #blogpage .subscribeNews li {
        width: 98%;
        height: 250px;
        flex-direction: row;
    }

    #blogpage .subscribeNews li:first-child {
        margin-bottom: 10px;
    }

    #blogpage .subscribeNews li>div:first-child {
        width: 40%;
        height: 250px;
    }

    #blogpage .subscribeNews li>div:last-child {
        width: 58%;
        padding-left: 2%;
    }

    #blogpage .subscribeNews li img {
        height: 100%;
    }

    #blogpage .articleBeside {
        flex-direction: column;
    }

    #blogpage .articleBeside li {
        flex-direction: row;
        width: 98%;
        margin: 10px 0;
        height: 160px;
    }
    
    #blogpage .moveBlogList li {
        width: 130px;
    }
    
    #blogpage .articleBeside .blogImg {
        width: 40%;
    }
    
    #blogpage .articleBeside img {
        height: 100%;
    }

    #blogpage .articleBeside a {
        width: 60%;
        margin-left: 10px;
    }
}

/* 너비 760px 이상 */
@media all and (min-width: 760px) {
    #blogpage .blogList {
        flex-direction: column;
    }

    #blogpage .blogList li {
        flex-direction: row;
        margin-bottom: 50px;
    }
    
    #blogpage .blogList a {
        margin-left: 10px;
        width: 60%;
    }

    #blogpage .blogList .blogImg {
        width: 70%;
        height: 100%;
    }
    
    #blogpage .blogList img {
        height: 100%;
    }
    
    #blogpage .subscribeNews {
        flex-direction: row;
    }

    #blogpage .subscribeNews li {
        width: 49%;
        flex-direction: column;
    }

    #blogpage .subscribeNews li>div:first-child {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    #blogpage .subscribeNews li img {
        width: 120%;
    }

    #blogpage .subscribeNews li a {
        margin: 0 auto;
    }

    #blogpage .articleBeside {
        flex-direction: row;
    }

    #blogpage .articleBeside li {
        flex-direction: column;
        width: 49%;
        margin: 0;
    }

    #blogpage .articleBeside .blogImg {
        width: 100%;
    }

    #blogpage .articleBeside img {
        width: 100%;
    }
}

/* 너비 1000px 이상 */
@media all and (min-width: 1000px) {
    #blogpage .blogList {
        flex-direction: row;
        justify-content: space-between;
    }

    #blogpage .blogList li {
        width: 30%;
        margin-bottom: 10px;
        flex-direction: column;
    }

    #blogpage .blogList a {
        margin-top: 10px;
        width: 100%;
    }

    #blogpage .blogListImg img {
        width: 100%;
        height: auto;
    }
}