@charset "utf-8";

/* 변수 설정 */
:root {
    /* 메인 컬러 */
    --purpleF: #4d148c;
    --orangeF: #ff6200;
    --blackC: #140A09;
    --whiteC: #fafafa;
    --whitePerfect: #ffffff;
    --grayMiddle: #777777;
    --grayLight: #ededed;
}

/* 공통 화면 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrap {
    display: flex;
}

/* 헤더 */
header {
    display: flex;
    justify-content: center;
    background: linear-gradient(var(--whiteC), var(--whitePerfect));
    height: 100px;
}

header>.wrap {
    justify-content: space-between;
    padding: 0 1.5%;
}

/* 헤더 로고 */
.logo>a {
    height: 100px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    height: 60%;
}

/* 공통 헤더 메뉴*/
nav {
    display: none;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    display: flex;
    flex-direction: column;
    position: relative;
}

nav>ul>li a {
    color: var(--grayMiddle);
    font-weight: bold;
    transition: 0.5s;
}

nav>ul>li a:hover {
    color: var(--orangeF);
}

nav>ul>li>ul {
    display: block;
    position: relative;
    background-color: var(--grayLight);
    display: none;
}

nav>ul>li>ul a {
    display: block;
    width: 100%;
}

/*공통 헤더 우측 버튼 */
header>.wrap>a.orangeButton {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 0 25px;
    font-weight: bold;
    color: var(--whitePerfect);
    justify-content: flex-end;
    align-self: center;
    text-align: center;
    transition: 0.5s;
}

header>.wrap>a.burgerButton {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 25px;
    font-weight: bold;
    font-size: 23px;
    color: var(--whitePerfect);
    background-color: var(--blackC);
    align-self: center;
    text-align: center;
    transition: 0.5s;
    display: none;
}

.orangeButton {
    background-color: var(--orangeF);
}

.orangeButton:hover {
    background-color: var(--purpleF);
}

/* 푸터 */
footer {
    background-color: var(--blackC);
    color: var(--whitePerfect);
    display: flex;
    justify-content: center;
}

footer>.wrap {
    flex-wrap: wrap;
    padding: 25px;
}

footer .logo img {
    height: 85%;
}

/* 푸터 메뉴 */
footer .footerMenu li:first-of-type {
    font-weight: bold;
    font-size: 25px;   
}

footer .footerMenu li {
    padding: 5px 0;   
}

footer .footerMenu a {
    color: var(--whitePerfect);
}

footer .footerMenu a:hover {
    text-decoration: underline;
}

footer .footerRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* 카피 & SNS */
footer .footerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid beige;
    margin-top: 30px;
    padding: 30px 0 5px;
}

footer .footerBottom .sns {
    display: flex;
}

footer .footerBottom .sns li {
    margin: 0 5px;
}

footer .footerBottom .sns a {
    color: var(--whitePerfect)
}

/* 너비 760px 미만 */
@media all and (max-width: 760px) {
    .wrap {
        width: 100%;
    }

    /* 헤더 */
    nav {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-color: var(--grayLight);
        width: 100%;
    }

    nav>ul {
        flex-direction: column;
    }

    nav>ul>li {
        padding: 10px 20px;
    }

    nav>ul>li>ul>li {
        padding: 10px 0;
    }

    header>.wrap>a.orangeButton {
        display: none;
    }

    header>.wrap>a.burgerButton {
        display: block;
    }
    
    /* 푸터 */
    footer>.wrap {
        flex-direction: column;
    }

    footer .footerLeft,
    footer .footerMenu,
    footer .footerRight {
        width:100%;
        padding: 10px 0;
    }

    footer .footerLeft {
        padding-top: 0;
    }

    footer .footerRight {
        padding-bottom: 0;
    }

    footer .footerBottom {
        flex-direction: column;    
    }

    footer .footerBottom .sns {
        padding-top: 25px;
        justify-content: flex-start; 
    }
}

/* 너비 760px 이상 */
@media all and (min-width: 760px) {
    .wrap {
        width: 100%;
    }
    
    /* 헤더 */
    nav {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-color: var(--grayLight);
        width: 100%;
    }

    nav>ul {
        flex-direction: column;
    }
    
    nav>ul>li {
        padding: 10px 20px;
    }

    nav>ul>li>ul>li {
        padding: 10px 0;
    }

    header>.wrap>a.orangeButton {
        display: none;
    }

    header>.wrap>a.burgerButton {
        display: block;
    }

    /* 푸터 */
    footer>.wrap {
        flex-direction: row;
    }

    footer .footerLeft,
    footer .footerMenu,
    footer .footerRight {
        width: 50%;
    } 

    footer .footerLeft,
    footer .footerMenu:nth-of-type(1) {
        padding-bottom: 10px;
    }

    footer .footerMenu:nth-of-type(2),
    footer .footerRight {
        padding-top: 10px;    
    } 

    footer .footerBottom .sns li {
        justify-content: flex-end;
    }
}

/* 너비 1000px 이상 */
@media all and (min-width: 1000px) {
    /* 헤더 */
    header .wrap {
        flex-direction: row;
    }

    nav {
        width: auto;
        top: 0;
        height: 100px;
        background-color: transparent;
        display: block;
    }

    nav>ul {
        flex-direction: row;
        height: 100%;
    }

    nav>ul>li {
        width: 100px;
        align-items: center;
        justify-content: flex-start;
    }
    
    nav>ul>li>a {
        height: 24px;
        margin-top: 38px;
    }

    nav>ul>li>ul {
        width:180px;
    }
 
    nav>ul>li>ul>li {
        padding: 10px;
    }

    header>.wrap>a.orangeButton {
        display: block;
    }

    header>.wrap>a.burgerButton {
        display: none;
    }

    /* 푸터 */
    footer>.wrap {
        flex-direction: row;
    }

    footer .footerLeft {
        width: 30%;
        padding: 0;
    }
    
    footer .footerMenu:nth-of-type(n) {
        width: 20%;
        padding: 0
    }
    
    footer .footerRight {
        width: 30%;
        padding: 0;
    }
}

/* 너비 1320px 이상 */
@media all and (min-width: 1320px) {
    .wrap {
        width: 1320px;
    }
   
    /* 헤더 */
    header .wrap {
        width: 1320px;
    }
}