@charset "utf-8";

/* 메인용 form 버튼 */
input[type="submit"] {
    border: none;
    background-color: var(--blackC);
    color: var(--whitePerfect);
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: var(--orangeF);
}

/* 이미지 슬라이드 */
#imageSlide {
    background-image: url("../image/slideBG.svg");
    background-size: contain;
    display: flex;
    position: relative;
    justify-content: center;
}

/* 슬라이드 좌측 */
#imageSlide>div:first-child {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 100px 25px;
}

#imageSlide>div:first-child a {
    background-color: var(--blackC);
    color: var(--whitePerfect);
    width: 200px;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: 500ms;
}

#imageSlide>div:first-child a:hover {
    background-color: var(--orangeF);
}

/* 이미지 슬라이드 점수 */
#imageSlide .starPoint {
    display: flex;
}

#imageSlide .starPoint li {
    display: flex;
    align-items: center;
}

#imageSlide .starPoint>li>ul>li:last-child {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#imageSlide .starPoint li>p {
    font-weight: bold;
}

#imageSlide .starPoint li>span {
    color: #777777;
    font-size: 10px;
}

#imageSlide .starPoint>li:first-child ul {
    display: flex;
    width: 100%
}

#imageSlide .starPoint>li:first-child ul>li:first-child {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-image: url(../image/starpoint.png);
    font-weight: bolder;
    font-size: 28px;
}

#imageSlide .starPoint>li:first-child ul>li:last-child>p {
    font-size: 15px;
}

/* 이미지 슬라이드 리뷰어 */
#imageSlide .starPoint>li:last-child ul {
    display: flex;
}

#imageSlide .starPoint>li:last-child li {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#imageSlide .starPoint>li:last-child li img {
    width: 100%;
}

/* 슬라이드 우측 */
#imageSlide>div:last-child {
    background-image: url("../image/fedex9.jpg");
    background-size: cover;
}

/* 슬라이드 팝업 */
#slidePop {
    position: relative;
    background-color: var(--orangeF);
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

#slidePop li {
    width: 45%;
    background-color: var(--whiteC);
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slidePop input[type="text"] {
    margin-top: 25px;
    padding: 10px 0;
}

#slidePop input[type="submit"] {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

/* 바로가기 */
#direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

#direction>.wrap {
    justify-content: center;
}

#direction .noteDirection {
    position: relative;
    width: 45.5%;
    background-image: url("../image/fedex6.jpg");
    background-size: cover;
}

#direction .noteDirection>div {
    position: absolute;
    padding: 25px;
    
    width: calc(100% - 50px);
    background: rgba(255, 255, 255, 0.5);
}

#direction .noteDirection>div>div {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

#direction .noteDirection p {
    font-size: 20px;
}

#direction .directionList {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#direction .directionList>li {
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--grayLight);
    margin-top: 20px;
}

#direction h1,
#direction .directionList p {
    font-size: 45px;
    font-weight: bold;
    color: var(--orangeF);
}

#direction .directionList span {
    width: 60%;
}

#direction .directionList img {
    width: 25%;
    display: flex;
    align-self: flex-end;
}

/* 신청 양식 */
#requestForm {
    background-image: url("../image/fedex1.jpg");
    background-size: cover;
    background-position: 0 50%;
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

#requestForm>.wrap {
    justify-content: center;
}

/* 신청서 */
#requestForm .request {
    background-color: var(--whiteC);
    box-shadow: 1px 1px 3px 1px #cccc;
    position: relative;
}

#requestForm .request>h1 {
    background-color: var(--orangeF);
    color: var(--whitePerfect);
    padding: 30px;
}

#requestForm .request>div {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#requestForm .request p,
#requestForm .request label,
#requestForm .request input[type="text"] {
    display: block;
}

#requestForm .request p:nth-child(-n+4) {
    display: inline-block;
}

#requestForm .request input[type="text"] {
    border: none;
    background-color: var(--grayLight);
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#requestForm .request input[type="submit"] {
    width: 49%;
    padding: 10px 0;
}



/* 신청서 안내 */
#requestForm .noteRequest {
    color: var(--whitePerfect);
    padding: 50px 25px 0;
    width: 100%;
    text-shadow: 0px 0px 5px var(--blackC);
}

/* 배너 슬라이드 */
#business {
    background-color: var(--whitePerfect);
    background-image: url("../image/worldmap.png");
    background-size: cover;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#business>.wrap {
    flex-wrap: wrap;
    padding: 0 25px;
    box-sizing: border-box;
    justify-content: center;
}

#business h1 {
    width: 100%;
    margin-bottom: 30px;
}

#business .businessSlide {
    position: relative;
    width: 95%;
    margin-bottom: 100px;
}

#business .businessSlide>p {
    display: block;
    position: absolute;
    background-color: var(--purpleF);
    color: var(--whitePerfect);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    overflow: visible;
}

#business .businessSlide>p:hover {
    cursor: pointer;
}

#business .businessSlide>p:first-of-type {
    left: -25px;
}

#business .businessSlide>p:last-of-type {
    right: -25px;
}

#business .businessWrap {
    overflow: hidden;
}

#business .businessList {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    
}

#business .businessList>li {
    background-color: var(--whiteC);
    border: 3px solid var(--purpleF);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#business .businessList .listImg {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

#business .businessList img{
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

/* 긴 배너 */
#bannerSite {
    display: flex;
    justify-content: center;
    margin: 0 25px;
}

#bannerSite .banner {
    background-color: var(--purpleF);
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#bannerSite .banner ul {
    color: var(--whitePerfect);
    
    display: flex;
    flex-direction: column;
}

#bannerSite .banner li {
    height: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#bannerSite .banner a {
    display: block;
    background-color: var(--orangeF);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--whitePerfect);
    border-radius: 50%;
    transition: 0.3s;
}

#bannerSite .banner a:hover {
    background-color: var(--whiteC);
    color: var(--purpleF);
}

/* 블로그 & 뉴스 */
#blog {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

#blog>.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

#blog h1 {
    width: calc(100% - 150px);
    display: flex;
    align-self: center;
}

#blog>.wrap>a {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 30px;
    font-weight: bold;
    color: var(--whitePerfect);
    justify-content: flex-end;
    align-self: center;
    text-align: center;
    transition: 0.5s;
}

#blog .blogFirst .blogImg {
    width: 100%;
    overflow: hidden;
}

#blog .blogFirst img {
    width: 100%;
    display: block;
}

#blog .blogList li {
    height: calc(100% / 3 - 1px);
    box-sizing: border-box;
    border-bottom: 1px solid var(--blackC);
}

#blog .wrap span{
    color: var(--grayMiddle);
    display: block;
    font-size: 18px;
}

#blog p {
    font-size: 23px;
}

/*------------------------------*/

/* 너비 760px 미만 */
@media all and (max-width: 760px) {
    /* 이미지 슬라이드 */
    #imageSlide {
        flex-direction: column;
        margin-bottom: 100px;
    }

    #imageSlide>div:first-child h1 span {
        display: block;
    }

    #imageSlide>div:first-child>*:not(h1) {
        margin-top: 50px;
    }

    #imageSlide>div:last-child {
        background-position: 50% 30%;
        height: 300px;
    }

    #imageSlide .starPoint {
        flex-direction: column;
        height: 180px;
    }

    #slidePop {
        margin: 0 25px;
        width: calc(100% - 50px);
        flex-direction: column;
    }

    #slidePop li {
        width: 100%;
    }
    
    /*바로가기*/
    #direction .wrap {
        align-items: center;
        flex-direction: column;
    }

    #direction .noteDirection {
        margin: 0 25px;
        width: calc(100% - 50px);
        height: 600px;
    }

    #direction .noteDirection>div {
        height: calc(100% - 50px);
    }
    
    #direction .noteDirection>div>div {
        height: 100%;
    }

    #direction .noteDirection img {
        height:50%;
    }

    #direction .directionList {
        width: 100%;
    }

    /* 신청 양식 */
    #requestForm>.wrap{
        align-items: center;
        flex-direction: column;   
        padding: 50px 0;
    }

    #requestForm .request {
        width: 100%;
    }

    #requestForm .request p {
        width: calc(100% - 20px);
    }

    #requestForm .request label,
    #requestForm .request input[type="text"],
    #requestForm .request input[type="submit"] {
        width: 100%;
    }

    /* 배너 슬라이드 */
    #business .businessList>li {
        width: 100%;
    }

    /* 긴 배너 */
    #bannerSite .banner ul {
        width: 100%;
    }

    /* 블로그 글 */
    #blog .blogFirst {
        width: 100%;
        border-bottom: 1px solid var(--blackC);
        padding-bottom: 50px;
    }

    #blog .blogList {
        width: 100%;
    }

    #blog .blogList li{
        padding-bottom: 50px;
    }
}

/* 너비 760px 이상 */
@media all and (min-width: 760px) {
    /*이미지 슬라이드*/
    #imageSlide {
        width: 100%;
        margin-bottom: 100px;
        flex-direction: column;
    }

    #imageSlide .starPoint li {
        width: 50%;
    }

    #imageSlide .starPoint>li:first-of-type{
        border-right: 1px solid var(--grayLight);
    }

    #imageSlide>div:first-child h1 span {
        display: inline;
    }

    #imageSlide>div:first-child>*:not(h1) {
        margin-top: 50px;
    }

    #imageSlide .starPoint>li:last-of-type {
        border-left: 1px solid var(--grayLight);
        padding-left: 10px;
    }

    #imageSlide>div:last-child {
        background-position: 50% 30%;
        height: 300px;
    }

    #slidePop {
        margin: 0 25px;
        width: calc(100% - 50px);
        flex-direction: column;
    }

    #slidePop li {
        width: 100%;
    } 

    /* 바로가기 */
    #direction>.wrap {
        align-items: center;
        flex-direction: column;
    }

    #direction .noteDirection {
        margin: 0 25px;
        width: calc(100% - 50px);
        height: 400px;
    }

    #direction .noteDirection>div {
        height: calc(100% - 50px);
    }
    
    #direction .noteDirection>div>div {
        height: 100%;
    }

    #direction .noteDirection img {
        height:50%;
    }

    #direction .directionList {
        margin: 0 25px;
        width: calc(100% - 50px);
    }

    /* 신청 양식 */
    #requestForm>.wrap{
        align-items: center;
        flex-direction: column;
        padding: 50px 0;
    }

    #requestForm .request {
        width: 100%;
    }

    #requestForm .request p ,
    #requestForm .request label {
        width: 49%;
    }

    #requestForm .request input[type="text"] {
        width: 100%;
    }

    /* 배너 슬라이드 */
    #business .businessList>li {
        width: 100%;
    }

    /* 긴 배너 */
    #bannerSite .banner ul {
        width: calc(100% - 250px);
    }

    /* 블로그 글 */
    #blog .blogFirst {
        width: 100%;
        border-bottom: 1px solid var(--blackC);
        padding-bottom: 50px;
    }

    #blog .blogList {
        width: 100%;
    }

    #blog .blogList li {
        padding-bottom: 50px;
    }
}

/* 너비 1000px 이상 */
@media all and (min-width: 1000px) {
    /* 이미지 슬라이드 */
    #imageSlide {
        width: 100%;
        height: 850px;
        margin-bottom: 0;
        flex-direction: row;
    }

    #imageSlide>div:first-child {
        position: absolute;
        right: 50%;
        width: calc(50% - 25px);
        height: calc(100% - 100px);
    }

    #imageSlide>div:first-child h1 span {
        display: block;
    }

    #imageSlide>div:last-child {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 100%;
    }

    #imageSlide .starPoint {
        height: 100px;
    }

    /* 슬라이드 팝업 */
    #slidePop {
        margin: -100px 25px 0;
        flex-direction: row;
        width: calc(100% - 50px);
    }

    #slidePop li {
        width: 49%;
    }


    /* 바로가기 */
    #direction .wrap {
        flex-direction: row;
        align-items: normal;
    }

    #direction .noteDirection{
        height: auto;
    }

    #direction .noteDirection>div {
        height: calc(100% - 50px);
    }

    #direction .noteDirection img {
        width: 100%;
        height: fit-content;
    }

    #direction .directionList>li:first-child {
        margin: 0;
    }

    /* 신청 양식 */
    #requestForm {
        height: 500px;
    }

    #requestForm>.wrap {
        flex-direction: row;
        align-items: normal;
        padding: 0;
    }

    #requestForm>.wrap>div {
        margin-top: 100px;
        
    }

    #requestForm .request{
        padding-bottom: 600px;
        width: 60%;
    }

    #requestForm .noteRequest{
        padding-bottom: 600px;
        width: 40%;
    }
    
    /* 배너 슬라이드 */
    #business {
        padding-top: 300px;
    }

    #business .businessList>li {
        width: 20%;
        padding: 25px;
    }

    /* 블로그 글 */
    #blog .blogFirst {
        width: 50%;
        height: 550px;
        border: none;
        padding: 0;
    }

    #blog .blogList {
        width: 45%;
    }

    #blog .blogList li {
        padding: 0;
    }
}

/* 너비 1320px 이상 */
@media all and (min-width: 1320px) {
    /* 이미지 슬라이드 */
    #imageSlide>div:first-child {
        position: absolute;
        right: 50%;
        width: 635px;
        height: calc(100% - 100px);
        
    }

    #slidePop {
        margin: -100px auto 0;
        flex-direction: row;
        width: 1250px;
    }

    /* 긴 배너 */
    #bannerSite .banner {
        width: 1320px;
    }

}