@charset "utf-8";

/* 공통 화면 */
:root{
    /* 메인 컬러 */
    --purpleF: #4d148c;
    --orangeF: #ff6200;
    --blackC: #140A09;
    --whiteC: #fafafa;
    --magentaP: #E54530;
    --whitePerfect: #ffffff;
    --grayMiddle: #777777;
    --grayLight: #ededed;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrap {
    display: flex;
}

/* 헤더 */
header {
    display: flex;
    justify-content: center;
    background-color: var(--purpleF);
    height: 100px;
}

header>.wrap{
    background-color: var(--whiteC);
    justify-content: space-between;
}

/* 헤더 로고 */
.logo>a {
    height: 100px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 80%;
}

/* 공통 헤더 메뉴*/
nav{
    display: none;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    display: flex;
}

nav>ul>li>a {
    color: var(--grayMiddle);
    font-weight: bold;
    transition: 0.5s;
}

nav>ul>li>a:hover {
    color: var(--orangeF);
}

/*공통 헤더 우측 버튼 */
header>.wrap>a.orangeButton {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 0 25px;
    font-weight: bold;
    color: var(--whitePerfect);
    justify-content: flex-end;
    align-self: center;
    text-align: center;
    transition: 0.5s;
}

header>.wrap>a.burgerButton {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 25px;
    font-weight: bold;
    font-size: 23px;
    color: var(--whitePerfect);
    background-color: var(--blackC);
    align-self: center;
    text-align: center;
    transition: 0.5s;
    display: none;
}

.orangeButton {
    background-color: var(--orangeF);
}

.orangeButton:hover {
    background-color: var(--purpleF);
}

/* 이미지 슬라이드 */
#imageSlide {
    display: flex;
    position: relative;
    justify-content: center;
}

/* 슬라이드 좌측 */
#imageSlide>div:first-child {
    background-color: lightblue;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#imageSlide>div:first-child a {
    background-color: var(--blackC);
    color: var(--whitePerfect);
    width: 180px;
    height: 50px;
    line-height: 50px;
    margin: 50px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: 500ms;
}

#imageSlide>div:first-child a:hover {
    background-color: var(--orangeF);
}

/* 이미지 슬라이드 점수 */
#imageSlide .starPoint {
    display: flex;
    background-color: red;
    bottom: 0;
}

#imageSlide .starPoint li {
    width: 50%;
    display: flex;
    align-items: center;
}

#imageSlide .starPoint>li>ul>li:last-child {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#imageSlide .starPoint li>p {
    font-weight: bold;
}

#imageSlide .starPoint li>span {
    color: #777777;
    font-size: 10px;
}

#imageSlide .starPoint>li:first-child ul {
    display: flex;
}

#imageSlide .starPoint>li:first-child ul>li:first-child {
    width: 100px;
    height: 100px;
}

#imageSlide .starPoint>li:first-child ul>li:last-child>p {
    font-size: 15px;
}

/* 이미지 슬라이드 리뷰어 */
#imageSlide .starPoint>li:last-child ul {
    display: flex;
}

#imageSlide .starPoint>li:last-child li {
    display: flex;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

#imageSlide .starPoint>li:last-child li:nth-of-type(even) {
    background-color: purple
}

/* 슬라이드 우측 */
#imageSlide>div:last-child {
    background-color: greenyellow;

}

/* 슬라이드 팝업 */
#slidePop {
    position: relative;
    background-color: var(--orangeF);
    box-sizing: border-box;
    padding: 50px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

#slidePop li {
    background-color: var(--grayMiddle);
    width: 30%;
}

#slidePop li:last-of-type {
    background-color: var(--whiteC);
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slidePop li:last-of-type p {
    margin-bottom: 30px;
}

#slidePop li:last-of-type a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: var(--blackC);
    color: var(--whitePerfect);
    font-weight: bold;

}

/* 바로가기 */
#direction {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

#direction>.wrap {
    justify-content: center;
    height: 1200px;
}

#direction .s1Left {
    background-color:dodgerblue;
    width: 45.5%;
    height: 98%;

}

#direction .s1Left>div {
    position: sticky;
    top: 0;
}

#direction .s1Right {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#direction .s1Right>li {
    background-color: aqua;
    box-sizing: border-box;
    padding: 5%;
    height: 22%;
}

/* 신청양식 */
#requestForm {
    background-color: violet;
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

#requestForm>.wrap {
    justify-content: center;
}



/* 신청서 */
#requestForm .request {
    background-color: var(--whiteC);
    box-shadow: 1px 1px 3px 1px #cccc;
    position: relative;
    height: 600px;
}

#requestForm .request>h1 {
    background-color: var(--magentaP);
    padding: 30px;
}

#requestForm .request>div {
    padding: 30px;
}

/* 신청서 안내 */
#requestForm .noteRequest {
    color: #ffffff;
    padding: 50px 25px 0;
    width: 100%;
}

/* 댓글 */
#replies {
    background-color: lightsalmon;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#replies>.wrap {
    flex-wrap: wrap;
    padding: 0 25px;
}

#replies .repliesList{
    overflow: hidden;
}

#replies .repliesList ul {
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    width: calc(300% / 2);

}

#replies .repliesList li {
    background-color: darkorange;
    width: 30%;
    height: 450px;
}

#replies .repliesList li>p:nth-of-type(2) {
    color: var(--blackC)
}

#replies .repliesList li .replyMember>div {
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 50%;
}

#replies .companies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
}

/* 배너 */
#bannerSite {
    display: flex;
    justify-content: center;
    margin: 0 25px;
    
}

.banner {
    background-color: rosybrown;
    height: 250px;
    width: 100%;
}


/* 블로그 글 */
#blog {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

#blog>.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}

#blog h1 {
    width: calc(100% - 100px);
    display: flex;
    align-self: center;

}

#blog>.wrap>a {
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin: 30px 0;
    font-weight: bold;
    color: var(--whitePerfect);
    justify-content: flex-end;
    align-self: center;
    text-align: center;
    transition: 0.5s;
}

#blog .blogFirst {
    background-color: crimson;
}

#blog .blogList {
    background-color: violet;
}

#blog .blogList li {
    height: calc(100% / 3 - 1px);
 
    border-bottom: 1px solid var(--blackC);
}

/* 푸터 */
footer {
    background-color: var(--blackC);
    color: var(--whitePerfect);
    display: flex;
    justify-content: center;
    height: 600px;
}

footer>.wrap {
    flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .footerLeft {
    width: 30%
}

footer .footerMenu{
    width: 15%;
}

footer .footerRight {
    width: 40%
}

/* 카피 & SNS */
footer .footerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footerBottom .sns {
    display: flex;
}
/*------------------------------*/


/* 너비 760px 미만 */
@media all and (max-width: 760px) {
    .wrap {
        width: 100%;
    }

    nav {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-color: var(--grayLight);
        width: 200px;
    }

    nav>ul {
        flex-direction: column;
    }

    nav>ul>li {
        padding: 10px 20px;
    }

    header>.wrap>a.orangeButton {
        display: none;
    }

    header>.wrap>a.burgerButton {
        display: block;
    }
    
    #imageSlide {
        flex-direction: column;
        margin-bottom: 100px;
    }

    #imageSlide>div:last-child {
        height: 300px;
    }

    #imageSlide .starPoint {
        flex-direction: column;
        height: 180px;
    }

    #slidePop {
        margin: 0 25px;
        width: calc(100% - 50px);
        flex-direction: column;
    }

    #slidePop li {
        width: 100%;
    }
    
    /*바로가기*/
    #direction .wrap {
        align-items: center;
        flex-direction: column;
       
    }

    #direction .s1Left {
        margin: 0 25px;
        width: calc(100% - 50px);
    }

    #direction .s1Right {
        width: 100%;
    }

    /* 신청양식 */
    #requestForm>.wrap{
        align-items: center;
        flex-direction: column;   
        padding: 50px 0;
    }

    /* #requestForm>.wrap>div {
        margin: 50px 0;
    } */

    #requestForm .request {
        width: 100%;
    }

    /* 댓글 */
    #replies h1 {
        width: 100%;
        margin-bottom: 50px;
    }

    #replies .repliesList {
        width: 100%;
    }

  

    #replies .companies>li {
        width: calc(100% / 2);
    }

    /* 블로그 글 */

    #blog .blogFirst, #blog .blogList {
        width: 100%;
    }
}

/* 너비 760px 이상 */
@media all and (min-width: 760px) {
    .wrap {
        width: 100%;
    }
    
    /* 헤더 */
    nav {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-color: var(--grayLight);
        width: 200px;
    }

    nav>ul {
        flex-direction: column;
    }
    
    nav>ul>li {
        padding: 10px 20px;
    }

    header>.wrap>a.orangeButton {
        display: none;
    }

    header>.wrap>a.burgerButton {
        display: block;
    }

    /*이미지 슬라이드*/
    #imageSlide {
        width: 100%;
        margin-bottom: 100px;
        flex-direction: column;
    }

    #imageSlide>div:last-child {
        height: 300px;
    }

    #slidePop {
        margin: 0 25px;
        width: calc(100% - 50px);
        flex-direction: column;
    }

    #slidePop li {
        width: 100%;
    }

    /*바로가기*/
    #direction>.wrap {
        align-items: center;
        flex-direction: column;
    }

    #direction .s1Left {
        margin: 0 25px;
        width: calc(100% - 50px);
    }

    #direction .s1Right {
        margin: 0 25px;
        width: calc(100% - 50px);
    }

    /* 신청양식 */
    #requestForm>.wrap{
        align-items: center;
        flex-direction: column;
        padding: 50px 0;
    }


    #requestForm .request {
        width: 100%;
    }

    /* 댓글 */
    #replies h1 {
        width: 100%;
        margin-bottom: 50px;
    }

    #replies .repliesList {
        width: 100%;
    }

    #replies .companies>li {
        width: calc(100% / 3);
    }

    /* 블로그 글 */
    #blog .blogFirst, #blog .blogList {
        width: 100%;
    }
}

/* 너비 1000px 이상 */
@media all and (min-width: 1000px) {
    /* 헤더 */

    header .wrap {
        flex-direction: row;
    }

    nav{
        width: auto;
        top: 0;
        height: 100px;
        background-color: var(--whiteC);
        display: block;
    }

    nav>ul {
        flex-direction: row;
        height: 100%;
    }

    nav>ul>li {
        display: flex;
        width: 100px;
        align-items: center;
        justify-content: center;
    }
    
    header>.wrap>a.orangeButton {
        display: block;
    }

    header>.wrap>a.burgerButton {
        display: none;
    }

    /*이미지 슬라이드*/
    #imageSlide {
        width: 100%;
        height: 850px;
        margin-bottom: 0;
        flex-direction: row;
    }

    /*이미지 슬라이드*/
    #imageSlide {
        flex-direction: row;
    }

    #imageSlide>div:first-child {
        position: absolute;
        right: 50%;
        width: calc(50% - 25px);
        height: calc(100% - 100px);
    }

    #imageSlide>div:last-child {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 100%;
    }

    #imageSlide .starPoint {
        height: 100px;
        margin-bottom: 100px;
    }

    /* 슬라이드 팝업 */
    #slidePop {
        margin: -100px 25px 0;
        flex-direction: row;
        width: calc(100% - 50px);
    }

    #slidePop li {
        width: 30%;
    }


    /* 바로가기 */
    #direction .wrap {
        flex-direction: row;
        align-items: normal;
    }

    /* 신청양식 */
    #requestForm {
        height: 500px;
    }

    #requestForm>.wrap {
        flex-direction: row;
        align-items: normal;
        padding: 0;
    }

    #requestForm>.wrap>div {
        margin-top: 100px;
        width: 100%;
    }

    /* 댓글 */
    #replies {
        padding-top: 300px;
    }

    #replies h1 {
        width: calc(100% / 3);
    }

    #replies .repliesList {
        width: calc(200% / 3);
    }

    #replies .companies>li {
        width: calc(100% / 6);
    }

    /* 블로그 글 */
    #blog .blogFirst, #blog .blogList {
        width: 50%;
        height: 700px;
    }
}

/* 너비 1320px 이상 */
@media all and (min-width: 1320px) {
    .wrap {
        width: 1320px;
    }
   
    header .wrap {
        width: 1320px;
    }

    #imageSlide>div:first-child {
        position: absolute;
        right: 50%;
        width: 635px;
        height: calc(100% - 100px);
    }

    #slidePop {
        margin: -100px auto 0;
        flex-direction: row;
        width: 1250px;

    }

    .banner {
        background-color: rosybrown;
        height: 250px;
        width: 1320px;
    }

    
}